$base-01: #fafafa;
$base-02: #d6d6d6;
$base-03: #b3b3b3;
$base-04: #8f8f8f;
$base-05: #6b6b6b;
$base-06: #474747;
$base-07: #242424;
$principal-01: #dac9ff;
$principal-02: #c4adf4;
$principal-03: #9e83d9;
$principal-04: #785ab8;
$principal-05: #5e3da6;
$principal-06: #3d1d84;
$principal-07: #280a69;
$secundaria-01: #feffd7;
$secundaria-02: #fffbc9;
$secundaria-03: #f8f1a7;
$secundaria-04: #e5de81;
$secundaria-05: #c8bf53;
$secundaria-06: #aba235;
$secundaria-07: #837b19;
